<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/reloj.css">
    <title>Reloj</title>
</head>
<body>
    <main>
        <section id="contenedor_btn">
            <input type="checkbox" id="btn">
            <label for="btn" id="label_btn"></label>
        </section>

        <section id="contenedor_colores">
            <input type="color" id="color">
            <article id="prueba"></article>
        </section>

        <section id="contenedor">
            <article id="marcador"></article>
        </section>       
    </main>

    <script src="../styles/js/reloj.js"></script>
</body>
</html>